body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 80%;
    margin: 0 auto;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
}
  
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    margin: 0 10px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease; 
}
  
nav ul li a:hover {
    color: #f0f0f0;
}
  

h1 {
    font-size: 2rem;
    font-weight: bold;
}
  
nav ul li {
    position: relative;
}
  
nav ul li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
nav ul li:hover::after {
    transform: scaleX(1);
}

.code-block {
    background-color: #f5f5f5; 
    color: black; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    overflow: auto;
    font-family: monospace;
    box-shadow: none; 
}
  
.code-container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
    margin: 0; /* Remove any margins */
    padding: 20px; 
    gap: 10px; 
    justify-content: center; 
    width: 60%;
}
  
.copy-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add margin to position below code block */
    display: block;
    text-align: center;
}
  

.code-block pre {
    position: relative; /* Needed for line numbers */
    width: 100%
}
  
.code-block pre:after {
    content: "";
    position: left;
    right: 0px; 
    top: 0;
    bottom: 0;
    background-color: #f0f0f0; 
    width: 100%; 
    box-sizing: border-box;
}
  
.code-block code {
    white-space: pre-wrap; 
    margin-top: 10px
}
  
.code-block code::before {
    display: inline-block;
    color: #aaa; /* Line number color */
    width: 30px; 
    text-align: right;
    font-size: 11px; 
    content: counter(n) ". "; /* Add line numbers */
    counter-increment: n; 
    gap: 20px;
    grid-template-columns: 1fr 300px;
    display: grid;
}

.article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    grid-template-columns: 1fr 300px;
    gap: 20px;
}

.mxgraph {
    max-width: 100%;
    border: 1px solid transparent;
    margin: 0 auto;
}

.notification {
    position: fixed;
    bottom: 50px; /* Adjust the bottom margin as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.notification.show {
    opacity: 1;
}

.article {
    flex: 1;
    padding: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Warna latar belakang abu-abu muda */
    border-radius: 5px; /* Sudut membulat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan ringan */
}

article h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333; /* Warna teks judul */
}

article p {
    margin-bottom: 10px;
    line-height: 1.5;
}

article ol {
    margin-left: 20px;
}

article ol li {
    margin-bottom: 5px;
}

main {
    flex: 1; /* Make the main content take up most of the space */
    padding: 20px;
}
  
aside {
    width: 390px; 
    padding: 20px;
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center;
    
}
;

aside h2 {
    font-size: 18px;
}
  
aside p {
    font-size: 14px;
    
}

aside h2,aside p {
    margin-bottom: 10px;
}

.video-container {
    position: relative;
    width: 100%; /* Adjust the width as needed */
    height: 0; /* Set initial height to 0 */
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
  
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: auto;
}